* {
    box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #2A003D;
  /* color: #1C0029; */
  /* font-size: 62.5%; */
}

/* base */
.logo{
  font-family: 'Josefin Sans', sans-serif;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.052);
}
/* homepage */
.home {
    /* position: relative;
    top: 0; */
    height: 90vh;
    background: no-repeat center center url(../img/background-whittier.png);
    background-size: cover;
  }
.title{
    padding-left: 7%;
    padding-top: 10%;
}
.slogan{
  font-weight: 600;
}
h3, .events h3{
  font-weight: 700;
  letter-spacing: 2px;
}
.grid{
  background-color: white;
  border-radius: 7px;
  box-shadow: 10px 10px 50px #dad9d9;
  padding: 2%;
}
.comment{
  border-bottom: 1px solid rgb(223, 221, 221);
}
.name-comment{
  font-weight: 600;
}
.body-comment{
  font-size: 1.15rem;
}
/* card */
.card h5{
  font-weight: 600;
}
.event_most_commented img, .event img{
  width: auto;
  height: 225px;
  object-fit: cover;
}

.icon{
    height: 70px;
}
.icon img{
    width: 100px;
    transition: 0.5s;
}
.icon img:hover{
    width: 150px;
}
.event-detail{
  font-size: 1.1rem;
}
.event-detail img{

    border-radius: 2%;
}
.description{
    height: 80vh;
}
.description .col .button{
    margin: auto;
}
.description-event{
  font-weight: 600;
}
#date, #address{
  font-weight: 400;
  font-size: 1rem;
}
.map{
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
#weather{
    padding: 1rem 1rem 0;
    text-align: justify;
    font-size: 1rem;
    width: 325px;
    height: auto;
    background: linear-gradient(135deg, #fbdee2 0%, rgb(175, 152, 187) 100%);
    border-radius: 7px;
    box-shadow: 20px 20px 60px #dcdcdc, -20px -20px 60px #ffffff;
}
#weather img{
    width: 100%;
    border-radius: 5%;
}
/* .homepage-events{
    background-color: bisque;
} */
.event_most_commented img{
    width: auto;
    max-width: 200px;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #8f0601;
}
a:hover{
    color: black;
}
.event img{
    width: auto;
    max-width: 200px;
}

#commentInput{
    width: 100%;
    text-align: left;
    padding-bottom: 50px;
}
button {
    --primary-color: #460066;
    --secondary-color: #fff;
    --hover-color: #fff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  button a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 1em 1.8em;
  }
  button .arrow-wrapper {
    display: flex;
    padding-left: 10px;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
    border: 1px solid #460066;
    color:#2A003D;
  }
  button a:hover{
    color: #460066;
  }
  
  button:hover .arrow {
    background: var(--primary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
    border: solid var(--primary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  }
.submit{
  background-color: #2A003D;
  color: white;
}
#attendance input,.submit:hover{
  background-color: rgba(255, 255, 255, 0.032);
  border: 1px solid #2A003D;
  color: #2A003D;
}
#attendance input{
  border-radius: 20px;
  width: 125px;
  padding: .5em  1em;
  font-weight: 500;
  border-color: #8F0601;
  color: #8F0601;
}
#attendance input:hover{
  color: #2A003D;
  border-color: #2A003D;
}
.link {
    padding-bottom: 0;
    border: none;
    background: none;
  }
  
.link {
    color: #8F0601;
    --hovered-color: #2A003D; 
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
  }
  .link:hover {
    color: #2A003D;
  }
  .link::after {
    position: absolute;
    content: "";
    width: 0;
    left: 5px;
    bottom: -2px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
.link:hover::after {
    width: 85%;
  }
.in{
    transition: 0.3s ease-out;
}
.in:hover{
    color: #460066;
}

.display-6 + p{
  font-size: 1.3rem;
}

/* background circle */
.background-circle{
  /* background: no-repeat center center; */
  /* background-size: cover; */
  background-attachment: fixed;


  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1070%26quot%3b)' fill='none'%3e%3ccircle r='100' cx='99.3' cy='-79.92' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='100' cx='481.02' cy='438.63' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='100' cx='861.78' cy='784.05' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='114.73' cx='101.45' cy='458.35' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='183.06' cx='1070.27' cy='181.49' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='139.42' cx='582.9' cy='375.11' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='95.6' cx='922.55' cy='490.6' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='139.945' cx='219.58' cy='328.47' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='147.025' cx='688.37' cy='304.04' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='63.335' cx='326.21' cy='224.5' stroke='%23dccee3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1070'%3e%3crect width='1440' height='600' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
