{% extends 'base.html' %}

{% block title %}About - Mother's Circle{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
<section>
    <div class="container">
        <div class="row">
            <h3 class="pt-2 pb-3">ABOUT</h3>
            <div class="col-md-6">
                <img src="../static/img/group-women.jpg" alt="group women" class="img-fluid">
            </div>
            <div class="col-md-6 px-4">
                <p class="display-6">Mothers' Circle is an app for moms who want to connect and meet more moms.</p>
                <p>Sometimes as a mother is hard to find events where meet new friends for you and your kids. With this app you can create events you want to assist and more moms are going to be able to go with you. </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}