<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        <!-- We'll load React dependencies on all pages for this app. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <!-- Include any page-specific JavaScript using this block. -->
        {% block js %}
        {% endblock %}

        <link rel="shortcut icon" href="#">
        <link href="/static/css/site.css" rel="stylesheet">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/events">Events</a></li>
                </ul>
                
                <div>
                    {% if not current_user.is_authenticated %}
                    <a href="/login" id="login">Log In</a>
                    <a href="/signup" id="signup">Sign Up</a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <p>{{ current_user.name }}</p>
                    <a href="/logout">Log out</a>
                    {% endif %}
                </div>
            </nav>
        </header>

        <!-- Include the page's content with this block. -->
        {% block body %}
        {% endblock %}
    </body>
</html>