{% extends 'base.html' %}

{% block title %}{{ event.title }} - Details{% endblock %}

{% block js %}
<script src="/static/js/showComments.jsx" type="text/jsx"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/maps.css"/>
{% endblock %}

{% block body %}
<div id="userLog" data-login="{{ current_user.is_authenticated }}"></div>
<h1 value="{{ event.event_id }}">{{ event.title }}</h1>
<p>Created by {{ name.name }}</p>
<p id="address">{{ event.location }}</p>
<p>
  {{ event.description }}
</p>
<p><span id="total_attendees">{{ total_attendees }}</span> mom(s) are going</p>
{% if current_user.is_authenticated %}
  <form id="attendance">
    <div class="submit">
      {% if current_user.name != name.name%}
        {% if attendee %}
        <input type="submit" value="Not going" id="submit">
        {% endif %}
        {% if not attendee %}
        <input type="submit" value="Going" id="submit">
        {% endif %}
      {% endif %}
    </div>
  </form>
{% endif %}
<img src="{{ event.img }}">

<section class="map">
  <div id="map"></div>
  <div id="weather">
    <p>Temperature: {{ data['temperature']}} {{ data['temperatureUnit']}}</p>
    <p>{{ data['detailedForecast']}}</p>
    <div>
      <img src=" {{ data['icon'] }}" alt="">
    </div>
    <!-- <span id="result-count">
      {{ data }}
       {# {{ specific_data }} #}  -->
      <!-- </span> -->
      
  </div>
</section>
<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %} -->
<div class="container">
  
    
</div>



<script src="/static/js/maps.js"></script>
<script src="/static/js/attendee.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
{% endblock %}