{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block js %}
<script src="/static/js/showEvents.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<section>
    <div class="container mt-4">
        {% if current_user.is_authenticated %}
        <div class="d-flex justify-content-around align-items-center">
            <h2 class="mb-4">Events</h2>
            <a href="/create-event">Create an event</a>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2 class="mb-4">Events</h2>
            </div>
        {% endif %}
        </div>
        <div class="row justify-content-center events-container">
        </div>
    </div>
</section>



{% endblock %}