{% extends 'base.html' %}

{% block title %}{{ event.title }} - Details{% endblock %}

{% block js %}
<script src="/static/js/showComments.jsx" type="text/jsx"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/maps.css"/>
{% endblock %}

{% block body %}
<section class="container mt-5">
  <div class="row">
    <div class="col">
      <div id="userLog" data-login="{{ current_user.is_authenticated }}"></div>
      <h1 value="{{ event.event_id }}">{{ event.title }}</h1>
      <p>Created by {{ name.name }}</p>
      <p id="address">Address: {{ event.location }}</p>
      <p>Date and time: {{ event.datetime }}</p>
      <p>
        {{ event.description }}
      </p>
      <p><span id="total_attendees">{{ total_attendees }}</span> mom(s) are going</p>
      {% if current_user.is_authenticated %}
        <form id="attendance">
          <div class="submit">
            {% if current_user.name != name.name%}
              {% if attendee %}
              <input type="submit" value="Not going" id="submit">
              {% endif %}
              {% if not attendee %}
              <input type="submit" value="Going" id="submit">
              {% endif %}
            {% endif %}
          </div>
        </form>
      {% endif %}
    </div>
    <div class="col-md-5">
      <img src="{{ event.img }}">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col" style="border: 2px red solid">
      <div id="map"></div>
    </div>
    <div class="col-md-5">
      <div id="weather">
        <p>Temperature: {{ data['temperature']}} {{ data['temperatureUnit']}}</p>
        <p>{{ data['detailedForecast']}}</p>
        <div>
          <img src=" {{ data['icon'] }}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row comments-container mt-5">

  </div>
</section>




<script src="/static/js/maps.js"></script>
<script src="/static/js/attendee.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
{% endblock %}