{% extends 'base.html' %}

{% block title %}Homepage - MOTHERS' CIRCLE {% endblock %}

{% block js %}
  <script src="/static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}

<main>
  <div class="container-fluid home" id="home">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col title">
        <h1 class="display-3 logo">MOTHERS' CIRCLE</h1>
        <h2 class="display-6 slogan">Find a community for you and your kids</h2>
      </div>
      <div class="row h-20 text-md-center">
        <div class="col icon">
          <a href="#about-homepage">
            <img class="img" src="../static/img/arrow.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
<section id="about-homepage">
  <div class="container description">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-8 text-md-center justify-content-center">
        <p class="fs-3 lh-lg">
          Mothers' Circle is the place where you can connect with more moms. Find events you want to join and create new ones where moms want to go and meet. 
        </p>
        <div class="d-flex justify-content-center">
          <button class="mt-5 p-0">
            <a href="/events">Go to Events page 
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Mount your react components on to this element. -->

<section class="homepage-events">
  <div class="container py-2">
    <div id="most_commented" class="row justify-content-center">

    </div> 
  </div>   
</section>


{% endblock %}