{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block js %}
{% endblock %}


{% block body %}
<section>
    <div class="container mt-5 p-5">
        <div class="row justify-content-around align-items-center gx-5">
            <div class="col-md-4 align-self-center">
                <h2>Log In</h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div>
                    <!-- <div class="notification is-danger"> -->
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
                <form action="handle-login" method="POST">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" requuired>
                    </div>
                    <div class="mb-3 form-check p-0">
                      <input type="checkbox" name="remember" class="remember" id="remember">
                      <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit">
                        Log in
                      <div class="arrow-wrapper px-0">
                        <div class="arrow"></div>
                      </div>
                    </button>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                  </form>
            </div>
            <div class="col-md-5">
                <h2 class="mb-3">Sign Up</h2>
                <p class="mb-3">Are you a new user?</p>
                <button>
                  <a href="/signup">
                    Create an account
                    <div class="arrow-wrapper">
                      <div class="arrow"></div>
                    </div>
                  </a>
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock %}